body
{
	margin: 0px;
}
#name_group
{
	font-size: 40px;
	font-family: calibri;
	font-weight: bolder;
	margin: 0px;
}
#name_group_description
{
	font-size: 20px;
	font-family: calibri;
	font-weight: bolder;
	color: grey;
	margin: 0px;
}
p
{
	margin: 0px;
}
.head1
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top:  50px;
	padding-left : 50px;
	padding-right: 50px;
	padding-bottom: 50px;
	border-bottom: 1px solid lightgrey;
}
.bloc_card
{
	padding-top:  100px;
	padding-left : 50px;
	padding-right: 50px;
	padding-bottom: 100px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	background-image: url(Image/doctor5.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.card
{
	/*border: 1px solid black;*/
	height: 300px;
	width: 300px;
	border-radius: 15px;
	background-color: #F7EBEC;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
	margin: 40px;
	margin-right: 60px;
}

.text
{
	font-family: calibri;

}

.top
{
	display: flex;
	justify-content: center;
	margin-top: 5px;
	margin: 15px;
}

.div_1
{
	display: flex;
	justify-content: center;
	margin: 15px;
}

#title
{
	font-size: 30px;
	font-weight: bolder;
	color: black;
	font-family: calibri;
	margin: 10px;
}

#urg1
{
	padding-left: 7px;
}
.padd
{
	padding-left: 5px;
}
.bold
{
	font-weight: bolder;
}

.date
{
	display: flex;
	align-items: center;
	padding-left: 5px;
	margin: 0px;
}
.div_1
{
	display: flex;
	align-items: center;
}
#enter_matri
{
	height: 30px;
	border-radius: 10px;
	border: 0.5px solid black;
}

#lieu
{
	display: flex;
	justify-content: center;
	align-items: center;
}

.img
{
	height: 110px;
	width: 300px;
	background-image: url(Image/cardiologie2.jpg);
	background-position: contain;
}

.img1
{
	height: 110px;
	width: 300px;
	background-image: url(Image/reanimation2.jpg);
	background-position: contain;
}

.img2
{
	height: 110px;
	width: 300px;
	background-image: url(Image/surgery1.jpg);
	background-position: contain;
}

.bloc_mouvement
{
	padding-top:  100px;
	padding-left : 50px;
	padding-right: 50px;
	padding-bottom: 100px;
	display: flex;
	justify-content: space-around;
	background-image: url(Image/background.png);
	background-size: contain;
}

#bloc_flex_mouvement
{
	display: flex;
}

.card_mouvement1
{
	height: 300px;
	width: 500px;
	background-color: #F7EBEC;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
	border-radius: 15px ;
	display: flex;
	margin-right: 15px ;
}

.div_img
{

	height: 300px;
	width: 200px;
	background-color: black;
	background-image: url(Image/city.png);
	background-size: cover;
	border-bottom-left-radius: 15px;
	border-top-left-radius: 15px;
}

.Secteur
{
	font-family: calibri;
	font-size: 17px;
	padding-left: 30px;
	padding-top: 15px;
}

.card_mouvement2
{
	height: 300px;
	width: 200px;
	background-color: #F7EBEC;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
	border-radius: 15px ;
}

.bonjour
{
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
}
.bonjour img 
{
	height: 70px;
	border-radius: 50%;
	padding-right:4px ;
	padding-top:6px ;
}
.div_incard_description
{
	height: 300px;
	width: 300px;
}

.title_mouvement
{
	display: flex;
	justify-content: center;
	border-bottom: 2px solid lightgrey;
}

#description
{

	margin: 10px;
	height: 201px;
	width: 272px;
	border-bottom-right-radius: 15px ;
}

#name_group_description_hospital
{
	font-family: calibri;
	font-weight: bold;
	font-size: 16px;
	border-bottom: 1px solid black;
}








